.buttonWithEmoji {
    position: relative;
    padding: 0.3rem 0;
}

.emojiBlock {
    width: 353px;
    position: absolute;
    top: -27rem;
}

/* .smile {
    width: 2rem;
    padding: 0 0.2rem;
} */