.Empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.EmptyName {
  color: #fff;
}
.EmptyInfo {
  padding: 1rem;
  color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
.EmptyImg {
  border-radius: 50%;
  margin: 2rem 0;
  width: 16rem;
}