.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(189, 189, 192, 0.2);
}

.headerName {
  color: #fff;
}

.settingsButton {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.1rem;
  border-radius: 50%;
  border: none;
  background-color: rgba(0,0,0,0.2);
  color: white;
}

.settingsButton:hover {
  background-color: #2b2c33;
  color: white;
}

.settingsButton:focus {
  outline: none;
}