.originalMessageBlock {
    width: 80%;
    background-color: white;
    margin: 0.5rem auto 0;
    padding: 1rem 0.5rem;
    border-radius:4px;
}

.originalMessage {
    background: whitesmoke;
    border-radius:4px;
    border:0.5px solid rgba(89.8, 85.5, 83.9,0.2);
    border-left: 4px solid #7a37a5;  
    padding: 1rem 0.5rem;
    text-overflow: ellipsis;
    color: black;
    font-size: 0.8em;
    overflow: auto;
    word-wrap: break-word;
}

.originalMessage a {
    color: black;
}