
.sidebar {
	width: 80px;
	background-color: rgba(32,32,35,1);
	height:100%;
	border-right: 1px solid rgba(189,189,192,0.1);
	transition:width 0.3s;
	overflow-y: scroll;
}

/* width */
.sidebar::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.sidebar::-webkit-scrollbar-track {
  background: inherit; 
}
 
/* Handle */
.sidebar::-webkit-scrollbar-thumb {
  background: #f1f1f1; 
  border-radius: 5px;
}

/* Handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (min-width:576px){
	.sidebar{
		width:320px;
	}
}