
.sidebar {
	width: 5rem;
	background-color: rgba(32,32,35,1);
	height:100%;
	border-right: 1px solid rgba(189,189,192,0.1);
	transition:width 0.3s;
	overflow-y: scroll;
}

.buttonBlock {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	position: sticky;
    top: 0;
	background: inherit;
	box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
}

.navButton {
	width: 2.5rem;
	height: 2.5rem;
	font-size: 1.1rem;
	border: none;
	background: none;
	border-radius: 50%;
	padding-top: 0.2rem;
	margin: 0.5rem 1rem;
}

.navButton:hover {
	color:white;
	background-color: rgba(0,0,0,0.2);
}

/* width */
.sidebar::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.sidebar::-webkit-scrollbar-track {
  background: inherit; 
}
 
/* Handle */
.sidebar::-webkit-scrollbar-thumb {
  background: #f1f1f1; 
  border-radius: 5px;
}

/* Handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (min-width:576px){
	.sidebar{
		width: 15rem;
	}
}