p {
    padding: 0;
    margin: 0;
    text-overflow: ellipsis;
    overflow: auto;
    word-wrap: break-word; 
}

a {
    color: #a6b5f7;
    text-decoration: none;
}

iframe {
    margin-top: 1rem;
}

.mediaAttachment {
    display: flex;
    flex-direction: column;
}

.attachment {
    width: 15rem;
    max-width: 100%;
    max-height: 35rem;
    margin-top: 1rem;
}

audio:focus,
video:focus {
    outline: none;
}

@media (min-width:576px){
	.attachment {
		width: 25rem;
	}
}
